
@import "../../variables";


.json-view-repeated {
  //.json-view, .json-view-repeated-item {
  //  animation: repeated-item-init ease 300ms forwards;
  //  transform: translateX(100px);
  //  opacity: 0.3;
  //  @keyframes repeated-item-init {
  //    from {
  //      transform: translateX(100px);
  //      opacity: 0;
  //    }
  //    to {
  //      transform: translateX(0);
  //      opacity: 1;
  //    }
  //  }
  //}
  //position: relative;
  //left: -22px;
  .json-view-repeated-item {
    display: inline-flex;
    align-items: center;
    margin: 10px 20px 5px 0;
    .json-view-repeated-item-index {
      display: inline-block;
      width: 30px;
      font-weight: bolder;
    }
    .json-view-repeated-item-value {
      margin-right: 26px;
    }
  }
}
