
@import "../../variables";


.json-view {
  margin: 4px 11px;
  transition: all ease 300ms;
  height: auto;
  position: relative;
  left: -22px;
  color: $text-color;
  fill: $text-color;
  &:before {
    content: '';
    width: 1px;
    height: calc(100% - 2 * 25px);
    top: 25px;
    background-color: rgba(0, 43, 54, 0.15);
    position: absolute;
  }
  .json-view-start, .json-view-end {
    position: relative;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    user-select: none;
  }
  .json-view-start {
    left: -6px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    //top: 3px;
    .json-view-expand {
      width: 18px;
      height: 18px;
      fill: $text-color;
      position: relative;
      left: -3px;
      top: -1px;
      transition: all ease 300ms;
      transform: rotate(90deg);
    }
    .json-view-count, .json-view-count-empty {
      display: inline-block;
      margin-left: 20px;
      opacity: 0.8;
      font-style: italic;
      color: $count-color;
      min-width: 60px;
    }
    .json-view-name {
      font-weight: bold;
      min-width: 40px;
      margin-right: 8px;
      font-size: 15px;
    }
    .json-view-tag {
      margin: 0 8px;
    }
  }
  .json-view-end {
    left: -3px;
    display: inline-block;
  }
  .json-view-items {
    margin-left: 40px;
    .json-view-item {
      height: 28px;
      margin: 4px 0;
      font-size: 14px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      & > span {
        display: inline-block;
      }
      .json-view-item-info {
        position: relative;
        margin-right: 20px;
        .json-view-item-name {
          font-size: 15px;
          font-weight: bolder;
          cursor: pointer;
          display: inline-block;
        }
      }
    }
  }

  .json-view-item-value,
  .json-view-repeated-item-value {
    box-sizing: border-box;
  }
}

.json-view.json-view-collapsed {
  height: 28px;
  border-left: none;
  .json-view-start {
    .json-view-expand {
      color: inherit;
      fill: inherit;
      transform: rotate(0deg);
    }
  }
  .json-view-items, .json-view-end {
    display: none;
  }
}
