
@import "./variables";


.json-view-root {
  margin: 0 0 0 22px;
  padding: 0;
  font-family: $font-family;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  left: 0;

  .json-view-hide {
    opacity: 0;
  }
  .json-view-name, .json-view-item-name {
    .json-view-tooltip {
      transform: scale(0.1) translateY(calc(-200% - 26px));
      opacity: 0;
    }
    &:hover {
      .json-view-tooltip {
        transform: scale(1) translateY(calc(-100% - 26px));
        opacity: 1;
      }
    }
  }
  .json-view-points {
    font-weight: bolder;
    font-size: 16px;
    line-height: 5px;
    letter-spacing: -0.1em;
  }
  .json-view-tag {
    font-weight: bolder;
  }
  .json-view-item-type {
    margin-right: 20px;
    font-style: italic;
    font-size: 14px;
  }

  // Colors
  .message {
    .json-view-item-type,
    .json-view-expand,
    .json-view-points {
      color: rgb(243, 93, 111);
      fill: rgb(243, 93, 111);
    }
  }
  .boolean {
    .json-view-item-type,
    .json-view-expand,
    .json-view-points,
    .json-view-value {
      color: rgb(51, 211, 145);
      fill: rgb(51, 211, 145);
      &.true {
        color: rgb(51, 211, 145);
        fill: rgb(51, 211, 145);
      }
      &.false {
        color: rgb(243, 93, 111);
        fill: rgb(243, 93, 111);
      }
    }
  }
  .string, .bytes {
    .json-view-item-type,
    .json-view-expand,
    .json-view-points,
    .json-view-item-value,
    .json-view-repeated-item-value {
      color: rgb(233, 120, 42);
      fill: rgb(233, 120, 42);
    }
  }
  .double, .float {
    .json-view-item-type,
    .json-view-expand,
    .json-view-points,
    .json-view-item-value,
    .json-view-repeated-item-value {
      color: rgb(130, 102, 222);
      fill: rgb(130, 102, 222);
    }
  }
  .int, .int32, .uint32, .sint32, .fixed32, .sfixed32 {
    .json-view-item-type,
    .json-view-expand,
    .json-view-points,
    .json-view-item-value,
    .json-view-repeated-item-value {
      color: rgb(35, 174, 221);
      fill: rgb(35, 174, 221);
    }
  }
  .int64, .uint64, .sint64, .fixed64, .sfixed64 {
    .json-view-item-type,
    .json-view-expand,
    .json-view-points,
    .json-view-item-value,
    .json-view-repeated-item-value {
      color: rgb(133, 153, 0);
      fill: rgb(133, 153, 0);
    }
  }
  .null {
    .json-view-item-type,
    .json-view-expand,
    .json-view-points,
    .json-view-item-value,
    .json-view-repeated-item-value {
      color: rgb(230, 50, 192);
      fill: rgb(230, 50, 192);
    }
  }
}
